<html>
<head>
  <title>Signed Out</title>
  <style>
  body {
    color: white;
    background-color: #595B61;
  }
  </style>
</head>
<body>
<h3>You've signed out!</h3>
<a href='/signIn'>Sign in again perhaps?</a>
<br>
</body>
</html>
