<html>
<body>
<h2>Sign Up to Critter!</h2>
<form action='/newUser' method='POST'>
  <input type='text' placeholder="email"name='email'></input>
  <input type='text' placeholder="password" name='password'></input>
  <input type='submit'></input>
</form>
</body>
</html>
