<html>
<head>
  <title>Signed Out</title>
  <style>
	body {
		background-color: #d8d8d8;
	}
  </style>
</head>
<body>
<h3>You've signed out!</h3>
<a href='/signIn'>Sign in again perhaps?</a>
<br>
</body>
</html>
