<html>
<head>
  <title>Sign in to Critter</title>

</head>
<body>
<h2>Sign-in to Critter!</h2>
<form action='/signIn' method='POST'>
  <input type='text' placeholder="email"name='email'></input>
  <input type='password' placeholder="password" name='password'></input>
  <input type='submit'></input>
</form>
<a href='/newUser'>Sign Up</a>
</body>
</html>
