<html>
<head>
  <title>Sign Up to Critter</title>
  <style>
	body {
		background-color: #d8d8d8;
	}
  </style>
</head>
<body>
<h2>Sign Up to Critter!</h2>
<form action='/signUp' method='POST'>
  <input type='text' placeholder="email" name='email'></input>
  <input type='password' placeholder="password" name='password'></input>
  <input type='submit' value='submit'></input>
</form>
<a href="/">Post a Creet</a><br>
<br>
<br>
<a href="/signIn">Sign In</a><br><!-- <a href='/signIn'>Sign In</a> -->
</body>
</html>
