<html>
<head>
  <title>Signed Out</title>
</head>
<body>
  <h3>You've signed out!</h3>
  <a href='/signIn'>Sign in again perhaps?</a>
  <br>
  <link rel='stylesheet' type='text/css' href='main.css'></link>
</body>
</html>
