<html>
<head>
  <title>Post a new Creet</title>
</head>
<body>
<h2>Welcome to Critter Clone, soon to replace Twitter</h2>
<h3>Post a new creet</h3>
<form action='/newTweet' method='POST'>
  <input type='text' name='tweeted' placeholder="creet here"> </input>
  <input type='submit' value='submit'></input>
</form>
<a href="/allTweets">View All Creets</a><br>
<br>
<a href="/newUser">Sign Up to Critter</a> 
</body>
</html>
