<html>
<head>
  <title>Post a new Creet</title>
  <style>
	body {
		background-color: #d8d8d8;
	}
  </style>
</head>
<body>
<h2>Welcome to Critter, Cretin #{{id}}, soon to replace Twitter</h2>
<h3>Post a new creet</h3>
<form action='/newTweet' method='POST'>
  <input type='text' name='tweeted' placeholder="creet here" autofocus></input>
  <input type='submit' value='submit'></input>
</form>
<a href="/allTweets">View All Creets</a> |
<a href='/signOut'>Sign Out</a>
<br>
</body>
</html>
