<html>
<body>
<h2>Welcome to Twitter Clone, soon to replace twitter</h2>
<form action='/newTweet' method='POST'>
  <input type='text' name='tweeted'> </input>
  <input type='submit'></input>
</form>
</body>
</html>
