<html>
<head>
  <title>User #{{userId}}'s profile</title>
  <style>
	body {
		background-color: #d8d8d8;
	}
  </style>
</head>
<body>
<h1>User #{{userId}}'s profile</h1>
<h2>Their creets:</h2>
<div>
{{#each data}}
  <p>"{{this.tweeted}}"</p>
{{/each}}
</div>
<a href="/newTweet">Post a Creet</a> |
<a href="/signOut">Sign Out</a>
</body>
</html>
