<html>
<head>
  <title>All Creets</title>
  <style>
	body {
		background-color: #d8d8d8;
	}
  </style>
</head>
<body>
<h6>User #{{id}}</h6>
<h2>All o' the Creets</h2>
<div>
{{#each data}}
  <p>User {{this.id}} - {{this.tweeted}}</p>
{{/each}}
</div>
<a href="/newTweet">Post a Creet</a> |
<a href="/signOut">Sign Out</a>
</body>
</html>
