<html>
<head>
  <title>All Creets</title>
</head>
<body>
<h2>All Tweets</h2>
<div>
{{#each data}}
  <p>{{this.tweeted}}</p>
{{/each}}
</div>
<a href="/">Post a Creet</a><br>
<br>
<a href="/newUser">Sign Up to Critter</a>
</body>
</html>
