<html>
<head>
  <title>All Creets</title>
</head>
<body>
<h2>All Tweets</h2>
<div>
{{#each data}}
  <p>{{this.tweeted}}</p>
{{/each}}
</div>
<button><a href="/">Post a Creet</button><br>
<br>
<button><a href="/newUser">Sign Up to Critter</button>
</body>
</html>
