<html>
<head>
  <title>All Creets</title>
  <style>
	body {
		background-color: #d8d8d8;
	}
  </style>
</head>
<body>
<h5>User #{{userId}}</h5>
<h2>All o' the Creets</h2>
<div>
{{#each data}}
  <p>Cretin #{{userId}} - {{this.tweeted}} <a href="/user/{{userId}}">View Profile</a></p>
{{/each}}
</div>
<a href="/newTweet">Post a Creet</a> |
<a href="/signOut">Sign Out</a>
</body>
</html>
